<div class="buttons-container">
    <div class="button" (click)="navigateTo('notebooks')">
      <img src="assets/notebook-icon.png" alt="Notebooks" />
      <span>Notebooks</span>
    </div>
    <div class="button" (click)="navigateTo('perifericos')">
      <img src="assets/perifericos-icon.png" alt="Periféricos" />
      <span>Periféricos</span>
    </div>
    <div class="button" (click)="navigateTo('computadores')">
      <img src="assets/computadores-icon.png" alt="Computadores" />
      <span>Computadores</span>
    </div>
    <div class="button" (click)="navigateTo('processadores')">
      <img src="assets/processadores-icon.png" alt="Processadores" />
      <span>Processadores</span>
    </div>
    <div class="button" (click)="navigateTo('placasVideo')">
      <img src="assets/placas-video-icon.png" alt="Placas de Vídeo" />
      <span>Placas de Vídeo</span>
    </div>
  </div>
