@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Sistema LH Pet</h1>
    <p>Para navegar entre os módulos do sistema, basta escolher a opção no menu acima</p>

</div>
