html, body {
    height: 100%;
    margin: 0%;
    color: white;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

body {
     background-color: #204245;
     align-content: center;
     justify-content: center;
 }
 
 .entry {
    border-radius: 20px 20px 20px 20px;
    background-color: #248424;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-family: Arial, sans-serif;
 }

 .login  {
   margin-top: 30px;
    font-size:x-large;
    margin-bottom: 20px;
 }

 .caixa-de-texto {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    margin: 50px;
 }

 .senha {
    border: #3ceb70;
margin-top: 20px;
 }

 .email {
    border: #3ceb70;
 }

 .email-text {
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-bottom: -30px;
 }
 
 .email:focus {
   outline: none;
 }


 .senha-text {
    display: flex;
    justify-content: left;
    margin-bottom: 0px;
 }

 .senha:focus {
   outline: none;
 }

 .button-confirm {
   border-radius: 4px 4px 4px 4px;
   margin-top: 10px;
   padding: 8px 20px;
   border: none;
   color: #FFFFFF;
 }

 .button-confirm:hover {
   background-color: #202222;
 }

 .checkbox {
 }

 .conta {
   margin-top: 10px ;
 }

 .cadastre-se {
   margin-top: -12px;
   color: #3ceb70;
 }