<div class="product-card">
    <div class="image-container">
      <img [src]="image" alt="{{ title }}" />
    </div>
    <div class="product-info">
      <h3>{{ title }}</h3>
      <p>{{ description }}</p>
      <span class="price">{{ price }}</span>
      <button class="add-to-cart" (click)="addToCart()">
        Adicionar ao carrinho
      </button>
    </div>
  </div>
  <div class="product-card">
    <div class="image-container">
      <img [src]="image" alt="{{ title }}" />
    </div>
    <div class="product-info">
      <h3>{{ title }}</h3>
      <p>{{ description }}</p>
      <span class="price">{{ price }}</span>
      <button class="add-to-cart" (click)="addToCart()">
        Adicionar ao carrinho
      </button>
    </div>
  </div>
  <div class="product-card">
    <div class="image-container">
      <img [src]="image" alt="{{ title }}" />
    </div>
    <div class="product-info">
      <h3>{{ title }}</h3>
      <p>{{ description }}</p>
      <span class="price">{{ price }}</span>
      <button class="add-to-cart" (click)="addToCart()">
        Adicionar ao carrinho
      </button>
    </div>
  </div>
  <div class="product-card">
    <div class="image-container">
      <img [src]="image" alt="{{ title }}" />
    </div>
    <div class="product-info">
      <h3>{{ title }}</h3>
      <p>{{ description }}</p>
      <span class="price">{{ price }}</span>
      <button class="add-to-cart" (click)="addToCart()">
        Adicionar ao carrinho
      </button>
    </div>
  </div>
  <div class="product-card">
    <div class="image-container">
      <img [src]="image" alt="{{ title }}" />
    </div>
    <div class="product-info">
      <h3>{{ title }}</h3>
      <p>{{ description }}</p>
      <span class="price">{{ price }}</span>
      <button class="add-to-cart" (click)="addToCart()">
        Adicionar ao carrinho
      </button>
    </div>
  </div>