<div class="navbar">
    <div class="logo">
        <img src="assets/images/logotipo.png" alt="Logotipo">
    </div>
    <input type="text" class="search-bar" placeholder="O que deseja?" />
    <div class="gamemania">Gamemania</div>
    <div class="menu-icons">
        <i class="material-icons-outlined">shopping_cart</i>
        
        
        <i class="material-icons-outlined">contact_page</i>
        
        
        <i class="material-icons-outlined">account_circle</i>
        
       
    </div>
  </div>
  
  <nav class="nav-menu">
    <a href="#">Para você</a>
    <a href="#">Descontos</a>
    <a href="#">Promoção</a>
    <a href="#">Computador</a>
    <a href="#">Games</a>
    <a href="#">Recomendações</a>
  </nav>
  
  <div class="card-container">
    <div class="card">
      <img src="assets/images/blackfriday-descontos.png" alt="Descontos" />
      <p>Texto de descontos</p>
    </div>
    <div class="card highlight">
      <img src="assets/images/interior-loja.png" alt="Loja" />
      <p>Venha conhecer nossa loja!</p>
    </div>
    <div class="card">
      <img src="assets/images/perifericos-descontos.png" alt="Games" />
      <p>Texto de descontos</p>
    </div>
  </div>
