html, body {
    height: 100%;
    margin: 0%;
    color: white;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}
body {
     background-color: #204245;
     align-content: center;
     justify-content: center;
 }
 
 .entry {
    border-radius: 20px 20px 20px 20px;
    background-color: #248424;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-family: Arial, sans-serif;
 }
 .cadastro {
   margin-top: 20px;
   margin-bottom: 15px;
   font-size:x-large;
 }

 .caixa-de-texto {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    margin: 50px;
 }

 .senha {
    border-radius: 5px 5px 5px 5px;
    border: #3ceb70;
margin-top: 20px;
 }

 .email {
    border: #3ceb70;
    border-radius: 5px 5px 5px 5px;

 }

 .email-text {
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-bottom: -30px;
 }

 .senha-text {
    display: flex;
    justify-content: left;
    margin-bottom: 0px;
 }
 
 .senha-text-confirm {
    display: flex;
    justify-content: left;
    margin-bottom: 0px;
 }