<div class="product-grid">
    <app-card
      title="Notebook"
      description="Especificações do produto"
      price="R$ 5.000,00"
      image="assets/notebook.png"
    ></app-card>
    <app-card
      title="Periféricos"
      description="Especificações do produto"
      price="R$ 200,00"
      image="assets/perifericos.png"
    ></app-card>
    <app-card
      title="Computadores"
      description="Especificações do produto"
      price="R$ 3.000,00"
      image="assets/computadores.png"
    ></app-card>
    <app-card
      title="Processadores"
      description="Especificações do produto"
      price="R$ 1.000,00"
      image="assets/processadores.png"
    ></app-card>
    <app-card
      title="Placas de Vídeo"
      description="Especificações do produto"
      price="R$ 2.500,00"
      image="assets/placas-video.png"
    ></app-card>
  </div>
